@import "../../assets/Styles/settings";

.wishlist-wrapper {
    margin: 0 100px;

    h1 {
        margin: 0 50px;
    }

    .wishlist-items {
        * {
            text-decoration: none;
            color: darkblue;
        }
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;

        .wishlist-item-wrapper {
            background-color: $light-violet;
            border-radius: 10px;
            padding: 5px;
            position: relative;
            margin: 10px;

            .del-item {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border-radius: 10px;
                width: 40px;
                height: 40px;
                font-size: 2em;
                text-decoration: none;
                background-color: $danger-t;
                color: snow;
                position: absolute;
                right: 5px;
                bottom: 5px;
                z-index: 100;
                &:hover {
                    background-color: $danger;
                    transform: scale(1.1);
                }
            }
        }
    }
}
