* {
    transition: 0.5s;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#authentication-section {
    background: url(../../../assets/imgs/bgs/living-room-bg.jpg) no-repeat;
    background-color: rgb(0,0,0, 0.4);
    background-size: cover;
    background-position: center;
    
    height: 100vh;
    width: 100%;
}
#authentication-section > div {
    color: #eee;
    width: 577px;
    background: rgba(50, 50, 50, 0.6);
    position: relative;
    left: 200px;
    top: 5%;
    text-align: center;
    height: 80%;
    overflow: auto;
}
#authentication-section > div::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(50, 50, 50, 0.6);
    border-radius: 10px;
}
#authentication-section > div::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 10px;
    background-color: rgba(248, 248, 248, 0.1);
    backdrop-filter: brightness(20%);
}

#authentication-section > div::-webkit-scrollbar-thumb:hover {
    background-color: rgb(255, 247, 1, 0.2);
}

button {
    border: none;
    outline: none;
    padding: 12px 16px;
    color: #fac704;
    width: 237px;
    font-weight: bold;
    cursor: pointer;
}
.action-btns {
    margin: 20px 0;
}
.action-btns button {
    background-color: transparent;
}
.border-bottom {
    display: block;
    height: 5px;
    width: 70%;
    margin: 0 auto;
    background-color: #3f3f4570;
}

.visible {
    display: block;
}
.invisible {
    display: none;
}

input {
    width: 70%;
    height: 40px;
    border: 2px solid #bfbfbf;
    padding: 20px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: rgba(248, 248, 248, 0.15);
    outline: none;
    color: lightgray;
}
input:focus {
    border: 2px solid #fac704;
    background-color: rgba(248, 248, 248, 0.25);
    color: snow;
}
input::placeholder {
    color: #bfbfbf;
}
.помошник {
    width: 70%;
    text-align: right;
    margin: 15px auto;
}
.помошник * {
    cursor: pointer;
}
.помошник span {
    color: #bfbfbf;
}
.восстановить,
a {
    color: #f9f9f9;
    margin: 0 5px;
    line-height: 0;
}
.восстановить:hover,
a:hover {
    color: #fac704;
    text-decoration: underline;
}
button.войти {
    background-color: #fac70420;
    border: 1px solid #fac704;
    font-size: 1.1em;
    margin: 10px 0 30px 0;
    clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
    position: relative;
}
button.войти:hover {
    background-color: #fac70450;
}
button.войти:active {
    transform: scale(0.7);
}

.globals {
    box-sizing: border-box;
    width: 70%;
    margin: 0 auto;
}
.globals > div {
    margin: 20px 0;
}
.globals > div:first-child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.globals > div:first-child p:first-child,
.globals > div:first-child p:last-child {
    border-bottom: solid 2px #bfbfbf;
}
.globals > div:last-child {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.footer {
    color: #b8b8b8;
    padding: 50px;
}
img:hover:not(.main-logo) {
    cursor: pointer;
}

.form-group > div {
    position: relative;
}
.pass-input + img {
    position: absolute;
    right: 17%;
    top: 12px;
}
.pass-input + img:active {
    transform: scale(0.5);
}
