@import "../../../assets/Styles/_init_";

#authentication-section {
    background: url(../../../assets/imgs/bgs/living-room-bg.jpg) no-repeat;
    background-color: rgb(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;

    height: 100vh;
    width: 100%;

    button {
        border: none;
        outline: none;
        padding: 12px 16px;
        color: #fac704;
        width: 237px;
        font-weight: bold;
        cursor: pointer;
    }

    & > div {
        color: #eee;
        width: 577px;
        background: rgba(50, 50, 50, 0.6);
        position: relative;
        left: 200px;
        top: 5%;
        text-align: center;
        height: 80%;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 10px;
            background-color: rgba(50, 50, 50, 0.6);
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            width: 10px;
            border-radius: 10px;
            background-color: rgba(248, 248, 248, 0.1);
            backdrop-filter: brightness(20%);
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: rgb(255, 247, 1, 0.2);
        }

        .action-btns {
            margin: 20px 0;
            button {
                background-color: transparent;
            }
            .border-bottom {
                display: block;
                height: 5px;
                width: 70%;
                margin: 0 auto;
                background-color: #3f3f4570;
            }
        }
    }
    .visible {
        display: block;
    }
    .invisible {
        display: none;
    }
    input {
        width: 70%;
        height: 40px;
        border: 2px solid #bfbfbf;
        padding: 20px;
        margin-bottom: 15px;
        box-sizing: border-box;
        background-color: rgba(248, 248, 248, 0.15);
        outline: none;
        color: lightgray;

        &:focus {
            border: 2px solid #fac704;
            background-color: rgba(248, 248, 248, 0.25);
            color: snow;
        }
        &::placeholder {
            color: #bfbfbf;
        }
    }
    .forget-password {
        width: 70%;
        text-align: right;
        margin: 15px auto;

        * {
            cursor: pointer;
        }

        span {
            color: #bfbfbf;
        }
    }
    .Recover,
    a {
        color: #f9f9f9;
        margin: 0 5px;
        line-height: 0;
        &:hover {
            color: #fac704;
            text-decoration: underline;
        }
    }

    .войти {
        background-color: #fac70420;
        border: 1px solid #fac704;
        font-size: 1.1em;
        margin: 10px 0 30px 0;
        clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
        position: relative;

        &:hover {
            background-color: #fac70450;
        }
        &:active {
            transform: scale(0.7);
        }
    }

    .globals {
        box-sizing: border-box;
        width: 70%;
        margin: 0 auto;

        div {
            margin: 20px 0;

            &:first-child {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;

                p:first-child,
                p:last-child {
                    border-bottom: solid 2px #bfbfbf;
                }
            }
            &:last-child {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 20px;
            }
        }
    }
    .footer {
        color: #b8b8b8;
        padding: 50px;
    }
    img {
        &:hover:not(.main-logo) {
            cursor: pointer;
        }
    }
    .auth-form > div {
        position: relative;

        .error {
            display: inline-block;
            font-style: italic;
            color: red;
            background-color: rgb(0, 0, 0, 0.5);
            width: 70%;
            margin: 0 auto 10px auto;
            border-radius: 5px;
            padding: 0 50px;
        }
    }
    .pass-input + img {
        position: absolute;
        right: 17%;
        top: 12px;
        &:active {
            transform: scale(0.5);
        }
    }
}
