@use "../../assets/Styles/_resets";
@import "../../assets/Styles/_settings";

.main-navbar {
    .upper-nav {
        padding: 0 150px;
        background-color: $violet;
        display: flex;
        justify-content: space-between;

        .upper-left-nav > *,
        .upper-right-nav > *,
        .nav-link {
            display: inline-block;
            padding: 6px 12px;
        }
        .nav-link:hover {
            background-color: rgb(0, 0, 0, 0.2);
        }
        .upper-left-nav img {
            margin: 0 15px;
        }
        a,
        span {
            text-decoration: none;
            color: $light;
        }
        .upper-right-nav {
            img {
                margin-left: 3px;
            }
        }
    }
    .bottom-nav {
        padding: 20px 0 10px 0;

        .bottom-nav-wrapper {
            display: flex;
            justify-content: space-evenly;

            h3 {
                a {
                    text-decoration: none;
                    font-size: 1.3em;
                    color: black;
                    display: inline-block;
                }
            }

            .bottom-nav-links {
                text-align: left;

                a {
                    color: #222;
                    text-decoration: none;
                }
                .nav-link {
                    display: inline-block;
                    padding: 10px 20px;
                    font-family: "Poppins", sans-serif;

                    &:hover {
                        color: $danger;
                        border-bottom: 1px solid $danger;
                    }
                }
            }

            input,
            button {
                display: inline-block;
            }
            input {
                color: gray;
                width: 250px;
                height: 50px;
                border-right: none;

                &:focus {
                    color: black;
                    border-color: $danger;
                    outline: 5px solid #fb2e8630;
                }
            }
            button {
                width: 55px;
                height: 50px;
                background-color: $danger;
                border: none;
                position: relative;
                bottom: 2px;
                &:hover {
                    outline: 5px solid #fb2e8630;
                }
                img {
                    position: relative;
                    right: 3px;
                }
            }
        }
    }
}

@media (max-width: 1080px) {
    .main-navbar {
        .bottom-nav,
        .upper-nav {
            padding: 20px 50px;
            flex-direction: column;
            text-align: center;
            font-size: 0.75em;

            div {
                a {
                    display: inline-block;
                    padding: 10px 20px;
                }
            }
            .bottom-nav-wrapper {
                input {
                    border: 1px solid gray;
                }
            }
        }
    }
}

@media (max-width: 670px) {
    .main-navbar {
        .upper-nav {
            .upper-left-nav img {
                margin: 10px;
            }
        }

        .bottom-nav {
            padding: 5px;

            .bottom-nav-wrapper {
                flex-direction: column;
            }
        }
    }
}
